
@model FODLSystem.Models.FuelOil

@{
    ViewData["Title"] = "Create";
}
<style>
    .error-input {
        border-color: hsl(0, 76%, 50%) !important;
    }

    .modal-sm {
        width: 40% !important
    }

    .modal-md {
        width: 60% !important
    }

    .modal-dialog {
        max-width: 100%;
        margin: 1.75rem auto;
    }
    /*.select2-drop {
        z-index: 99999;
    }*/
    .disable-click {
        pointer-events: none;
    }
</style>
<link href="~/css/plugins/select2/select2-bootstrap.min.css" rel="stylesheet">

<div class="modal inmodal in " id="modalEquipment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <h4 class="modal-title" id="modalSnapTitle">Equipment Information</h4>
                <small class="font-bold">Modify details of this dispenser</small>
            </div>
            <div class="modal-body">

             




                <p>
                    @if (ViewBag.Status != "Posted" && ViewBag.Status != "Transferred")
                    {
                        
                        <a class="hidePost" href="#" onclick="saveEquipment();" title="Add" data-action='Add'>Save |</a>

                    }


                    <a href="#" title="Sign" onclick="signItem()">Signature</a> |
                    <a href="#" title="Close" data-dismiss="modal">Close</a>


                </p>

                <form id="frmEquipment">
                    <input id="FuelOilId" name="FuelOilId" value="@ViewBag.Id" type="hidden" />
                    <input id="DetailId" name="Id" type="hidden" />

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Time</label>
                        <div class="input-group col-md-4">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input id="CreatedDate" name="CreatedDate" type="text" class="form-control datepicker">
                        </div>
                        <label class="col-md-2 col-form-label">SMR</label>
                        <div class="input-group col-md-4">
                            <input type="text" id="SMR" name="SMR" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Equipment</label>
                        <div class="input-group col-md-4">
                            <select class="form-control input-sm" id="EquipmentId" name="EquipmentId">
                                <option>Select Unit</option>
                            </select>
                        </div>
                        <label class="col-md-2 col-form-label">Location</label>
                        <div class="input-group col-md-4">
                            @Html.DropDownList("LocationId")
                        </div>
                    </div>

                </form>




                <form id="frmItem">

                    <input id="SubDetailId" name="Id" type="hidden" />
                    <div class="form-group">
                        <script id="ITEMtemplate" type="text/template">
                            <td>
                                <select class="form-control input-sm cmbNo" name="no[]">
                                    <option>Select Item</option>
                                </select>
                            </td>

                            <td>
                                <select class="form-control input-sm cmbComponent" name="component[]">
                                    <option>Select Component</option>
                                </select>

                            </td>
                            <td><input class=" form-control" type="text" placeholder="Volume / Qty" name="volume[]" required /></td>

                            <td>

                                <button class="remITEM btn btn-danger" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                            </td>
                        </script>
                        <table class="table table-bordered table-hover" id="tblItem">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="40%">Item</th>
                                    <th width="30%">Component</th>
                                    <th>Volume / Qty</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="p_Item">
                                <tr>
                                    <td>1</td>
                                    <td>

                                        <select class="form-control input-sm cmbNo" name="no[]">
                                            <option>Select Item</option>
                                        </select>
                                    </td>

                                    <td>

                                        <select class="form-control input-sm cmbComponent" name="component[]">
                                            <option>Select Component</option>
                                        </select>

                                    </td>
                                    <td><input class=" form-control" type="text" placeholder="Volume / Qty" name="volume[]" required /></td>

                                    <td>
                                        <button class="addFE btn btn-default" type="button"><i class="fa fa-plus"></i> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>

<div class="modal inmodal in " id="modalItem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <h4 class="modal-title" id="modalSnapTitle">Item Information </h4>
                <small class="font-bold">Modify details of this Item</small>
            </div>
            <div class="modal-body">
                @*<form id="frmItem">
                   
                    <input id="SubDetailId" name="Id" type="hidden" />
                    <div class="form-group">
                        <script id="ITEMtemplate" type="text/template">
                            <td>
                                <select class="form-control input-sm cmbNo" name="no[]">
                                    <option>Select Item</option>
                                </select>
                            </td>

                            <td>
                                <select class="form-control input-sm cmbComponent" name="component[]">
                                    <option>Select Component</option>
                                </select>

                            </td>
                            <td><input class=" form-control" type="text" placeholder="Volume / Qty" name="volume[]" required /></td>

                            <td>

                                <button class="remITEM btn btn-danger" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                            </td>
                        </script>
                        <table class="table table-bordered table-hover" id="tblItem">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="40%">Item</th>
                                    <th width="30%">Component</th>
                                    <th>Volume / Qty</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="p_Item">
                                <tr>
                                    <td>1</td>
                                    <td>

                                        <select class="form-control input-sm cmbNo" name="no[]">
                                            <option>Select Item</option>
                                        </select>
                                    </td>

                                    <td>

                                        <select class="form-control input-sm cmbComponent" name="component[]">
                                            <option>Select Component</option>
                                        </select>

                                    </td>
                                    <td><input class=" form-control" type="text" placeholder="Volume / Qty" name="volume[]" required /></td>

                                    <td>
                                        <button class="addFE btn btn-default" type="button"><i class="fa fa-plus"></i> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </form>*@
                <button data-dismiss="modal" class="btn btn-default">Close</button>
                @*@if (ViewBag.Status != "Posted")
                {
                    <button id="btnSave" class="btn btn-primary" onclick="saveItem();">Save</button>
                }*@

            </div>
        </div>
    </div>
</div>




<div class="modal inmodal in " id="modalSignature" tabindex="-1" role="dialog" aria-hidden="true" data-size="modal-lg">
    <div class="modal-dialog modal-sm">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <h4 class="modal-title" id="modalSnapTitle">Capture Signature</h4>
                <small class="font-bold">Take snapshot of signature</small>
            </div>
            <div class="modal-body">
                <input id="imageReferenceId" type="hidden" />
                <p>

                    <canvas class="signValue" height="400" id="signature"
                            style="border:1px solid black"></canvas>

                    <img width="100%" height="400" id="savetarget"
                         style="border:1px solid black" src="@ViewBag.Signature"><br><br>

                    @if (ViewBag.Status != "Posted" && ViewBag.Status != "Transferred")
                    {
                        <button id="clear" class="btn btn-primary hidePost">Create</button>
                    }




                    <button id="save" class="btn btn-primary signValue">Save</button>
                    <button id="close" class="btn btn-primary">Close</button>

                </p>

            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            Fuel Oil Liquidation Form
        </div>
        <div class="panel-body">
            <form asp-action="Create" id="frm">
                <p>

                    <a href="#" onclick="saveForm(this);" class="anchorAction">
                        <i class="fa fa-check"></i>
                        <span class="email-text">&nbsp;Save</span>
                    </a>
                    |
                    <a href="#" id="aPrint" onclick="printForm('@ViewBag.Id','rptLiquidation');" class="anchorAction">
                        <i class="fa fa-print"></i>
                        <span class="email-text">&nbsp;Print</span>
                    </a>
                    |
                    <a href="#" onclick="postForm(this);" class="anchorAction">
                        <i class="fa fa-book"></i>
                        <span class="email-text">&nbsp;Post</span>
                    </a>

                </p>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="ReferenceNo" class="col-lg-2 col-form-label"></label>
                    <div class="col-lg-4">
                        <input asp-for="ReferenceNo" class="form-control" readonly />
                        <span asp-validation-for="Shift" class="text-danger"></span>
                    </div>
                    <label asp-for="CreatedDate" class="col-lg-2 col-form-label"></label>
                    <div class="col-lg-4">

                        <input id="CreatedDateMain" asp-for="CreatedDate" class="form-control" readonly />
                        <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <label asp-for="Shift" class="col-lg-2 col-form-label"></label>
                    <div class="col-lg-4">

                        <select asp-for="Shift" class="form-control">
                            <option value="Day">Day</option>
                            <option value="Night">Night</option>

                        </select>
                        <span asp-validation-for="Shift" class="text-danger"></span>
                    </div>

                    <label asp-for="LubeTruckId" class="col-lg-2 col-form-label"></label>
                    <div class="col-lg-4">
                        <select asp-for="LubeTruckId" class="form-control" asp-items="ViewBag.LubeTruckId"></select>


                    </div>
                </div>

                <div class="row form-group">
                    <label asp-for="DispenserId" class="col-lg-2 col-form-label"></label>
                    <div class="col-lg-4">
                        <select asp-for="DispenserId" class="form-control" asp-items="ViewBag.DispenserId"></select>

                    </div>

                </div>

                @*<div class="form-group row">
            <label asp-for="EquipmentId" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-4">
                <select class="form-control input-sm" id="EquipmentId" name="EquipmentId">
                    <option>Select Unit</option>
                </select>
                <span asp-validation-for="EquipmentId" class="text-danger"></span>
            </div>
            <label asp-for="Signature" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-4">
                <input id="btnSignature" type="button" class="btn btn-outline-warning" value="Signature" />
            </div>
        </div>*@

                @*<div class="form-group row">
            <label asp-for="LocationId" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-4">

                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
        </div>*@




                @*<div class="form-group">
            <script id="ITEMtemplate" type="text/template">
                <td>
                    <select class="form-control input-sm cmbNo" name="no[]">
                        <option>Select Item</option>
                    </select>
                </td>

                <td>
                    <select class="form-control input-sm cmbComponent" name="component[]">
                        <option>Select Component</option>
                    </select>

                </td>
                <td><input class=" form-control" type="text" placeholder="Volume / Qty" name="volume[]" required /></td>

                <td>

                    <button class="remITEM btn btn-danger" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
            </script>
            <table class="table table-bordered table-hover" id="tblItem">
                <thead>
                    <tr>
                        <th width="5%">#</th>
                        <th width="40%">Item</th>
                        <th width="30%">Component</th>
                        <th>Volume / Qty</th>
                        <th width="10%">Actions</th>
                    </tr>
                </thead>
                <tbody id="p_Item">
                    <tr>
                        <td>1</td>
                        <td>

                            <select class="form-control input-sm cmbNo" name="no[]">
                                <option>Select Item</option>
                            </select>
                        </td>

                        <td>

                            <select class="form-control input-sm cmbComponent" name="component[]">
                                <option>Select Component</option>
                            </select>

                        </td>
                        <td><input class=" form-control" type="text" placeholder="Volume / Qty" name="volume[]" required /></td>

                        <td>
                            <button class="addFE btn btn-default" type="button"><i class="fa fa-plus"></i> </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>*@
                @if (ViewBag.Status != "Posted" && ViewBag.Status != "Transferred")
                {
                    <p class="hidePost">
                        <a href="#" onclick="createNew(this);" title="Add" data-action='Add'>Add Equipment</a>
                    </p>
                }

                @*<div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">*@

                <table id="tbl" class="table table-striped table-no-bordered table-hover dataTable" style="width: 100%!important">

                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Equipment</th>
                            <th>Location</th>
                            <th>SMR</th>
                            <th>Sign Status</th>
                            <th style="width:15%;">Action</th>

                        </tr>
                        <tr>
                            <th>Time</th>
                            <th>Equipment</th>
                            <th>Location</th>
                            <th>SMR</th>
                            <th>Sign Status</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Time</th>
                            <th>Equipment</th>
                            <th>Location</th>
                            <th>SMR</th>
                            <th>Sign Status</th>

                            <th></th>
                        </tr>
                    </tfoot>
                </table>
                @*</div>
            </div>
        </div>*@





            </form>

        </div>
    </div>
</div>
<script src="~/js/plugins/signature/signature_pad.min.js"></script>
<script>

    $(function () {
        if ('@ViewBag.Status' == 'Posted' || '@ViewBag.Status' == "Transferred") {
            disableForm();
        }
    })
   
    $('.datepicker').datetimepicker({
        format: 'm/d/Y H:i',
        step: 5
    });
    //$('.datepickerDate').datetimepicker({
    //    format: 'm/d/Y',
    //    timepicker: false,
    //});

    //$("input[type=text]").keyup(function () {
    //    $(this).val($(this).val().toUpperCase());
    //});


</script>


<script>
    const modalWidthSize = $(window).innerWidth() * parseFloat('0.4');
    const canvasSign = document.getElementById('signature');
    canvasSign.width = modalWidthSize - 65;

    function windowResize() {
        $wWidth = $(window).innerWidth() * parseFloat('0.4');
        canvasSign.width = $wWidth - 75;
    };

    window.addEventListener('resize', windowResize);

    $(function () {

        var canvas = document.querySelector('#signature');
        var pad = new SignaturePad(canvas);

        document.getElementById('clear').addEventListener('click', function () {
            canvas = document.querySelector('#signature');
            pad = new SignaturePad(canvas);
            $(".signValue").show();
            $("#savetarget").hide();
            pad.clear();
        });

        $('#accept').click(function () {
            var data = pad.toDataURL();
            $('#savetarget').attr('src', data);
            pad.off();
        });

        $('#save').click(function () {
            var data = pad.toDataURL();
            pad.off();


                $.ajax({
                    url: "@Url.Action("saveSnapShot")?id=" + $("#imageReferenceId").val()
                    , dataType: "json"
                    , type: "POST"
                    , data: { imgData: data }
                    , success: function (responsedata) {
                        if (responsedata.status == "success") {
                          
                            toastr["success"]("Signature saved!", "<b>Success</b> ")
                            loadDatatable($("#FuelOilId").val(),"Edit");
                            $('#savetarget').attr('src', data);
                        } else {
                            toastr["error"](responsedata.message +'</br></br>'+ 'Something wrong with the creation of equipment.')
                            toastr.options = {
                                "closeButton": true
                            }
                        }
                    }
                })

             })

    });
</script>
<script>
    var FEDiv = $('#p_Item');

    $(function () {
        $('#tbl thead tr:eq(1) th').each(function () {

            var title = $(this).text();
            if (title == "") {

            } else {
                $(this).html('<input type="search" class="form-control form-control-sm" placeholder="Search ' + title + '" />');
            }
        });
        if ('@ViewBag.Status' != 'Posted' && '@ViewBag.Status' != "Transferred") {
             loadDatatable('@ViewBag.Id',"Edit");
        } else {
            loadDatatable('@ViewBag.Id',"View");
        }
       
    })

    $("#close").click(function () {
     
        //showItem($("#DetailId").val());
        
        $("#modalSignature").modal("hide");
        $("#modalEquipment").modal("show");
    })
    function printForm($refid,$rpt) {
        window.open('@Url.Action("printReport", "Reports")?ReferenceId=' + $refid+ '&Report=' + $rpt + '&rptType=PDF');
    }

    function saveEquipment() {
        var cnt = 0;
        var data = $("#frmEquipment").serializeArray();

        $.ajax({
            url: "@Url.Action("SaveFormDetail")"
            , method: "POST"
            , data: data
            , dataType: 'json'
             , success: function (responsedata) {
                if (responsedata.status == "success") {
                    //toastr["success"]("Equipment saved!", "<b>Success</b> ")
                    $("#DetailId").val(responsedata.message);
                    $("#SubDetailId").val(responsedata.message);
                    loadDatatable($("#FuelOilId").val(),"Edit");

                    saveItem();

                } else {
                    //toastr["error"](responsedata.message)
                    toastr["error"](responsedata.message + "</br></br>" + "Please fill out all equipment information.")
                    toastr.options = {
                        "closeButton": true
                    }
                }
            }
        })
    }
    function showItem(id) {

        //$("#SubDetailId").val(id);
        //$("#modalItem").modal("show");
        loadDetails(id);
    }
    function createNew(obj) {
   
        if ($('#ReferenceNo').val() == '') {
            toastr["error"]("Save Form First", "Error")
            toastr.options = {
                "closeButton": true
            }
            return false;
        }

        $action = String($(obj).attr('title'));
        if ($action === 'Add') {
            $("#SMR").val("");
            $('#DetailId').val(0)
            $("#EquipmentId").val(0);
            $("#LocationId").val(1).trigger('change');
            $("#CreatedDate").val(moment('@DateTime.Now').format("MM/DD/YYYY HH:mm"))
            $("#EquipmentId").select2({
                dropdownParent: $('#modalEquipment .modal-content'),
                placeholder: '',
                allowClear: true,
                width: '100%',
                theme: 'bootstrap',
                    ajax: {
                        url: "@Url.Action("SearchEquipment", "Equipments")",
                        dataType: 'json',
                        delay: 2000,
                        data: function (params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                        processResults: function (data, page) {
                            return {
                                results: data.items,

                            };
                        },

                        cache: false
                },
                minimumInputLength: 2,
            });
        } else {

            $cdate = moment($(obj).attr('data-time')).format("MM/DD/YYYY HH:mm");
            $('#DetailId').val($(obj).attr('data-id'))
            $('#SubDetailId').val($(obj).attr('data-id'))
            $('#CreatedDate').val($cdate)


            $('#LocationId').val($(obj).attr('data-location')).trigger('change')
            $('#SMR').val($(obj).attr('data-smr'))

            $equipid = $(obj).attr('data-equipment');
            $equipname = $(obj).attr('data-equipmentname');

            $("#EquipmentId").append(new Option("", ""));
            $("#EquipmentId").append(new Option($equipname, $equipid));
            $("#EquipmentId").select2({
                dropdownParent: $('#modalEquipment .modal-content'),
                width: '100%',
                theme: 'bootstrap',
                placeholder: '',
                allowClear: true,
                ajax: {
                    url: "@Url.Action("SearchEquipment", "Equipments")",
                    dataType: 'json',
                    delay: 300,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return {
                            results: data.items,
                        };
                    },
                    cache: false
                },
                minimumInputLength: 2,

            }).val($equipid).trigger('change');
        }
        showItem($(obj).attr('data-id'));
        $("#modalEquipment").modal("show");
    }
    //$("#btnSignature").click(function () {
    //    if ($('#ReferenceNo').val() == '') {
    //        toastr["error"]("Save Form First", "Error")
    //        toastr.options = {
    //            "closeButton": true

    //        }
    //        return false;
    //    }
    //    $(".signValue").hide();
    //    $("#savetarget").show();

    //    $("#modalSignature").modal("show");

    //})
    $(function () {

        //$("#CreatedDate").val(moment('@DateTime.Now').format("MM/DD/YYYY HH:mm"))


        if ($("#ReferenceNo").val() == "") {
          
            //initiateSelect2();
        } else {
            @*$("#EquipmentId").append(new Option("", ""));
            $("#EquipmentId").append(new Option('@ViewBag.EquipmentName', '@ViewBag.EquipmentId'));
            $("#EquipmentId").select2({
                width: '100%',
                theme: 'bootstrap',
                    ajax: {
                        url: "@Url.Action("SearchEquipment", "Equipments")",
                        dataType: 'json',
                        delay: 300,
                        data: function (params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                        processResults: function (data, page) {
                            return {
                                results: data.items,
                            };
                        },
                        cache: false
                },

            }).val('@ViewBag.EquipmentId').trigger('change');*@

            //loadDetails();
        }


    })


    $(document).on('click', '.addFE', function () {
        var i = $('#p_Item tr').length + 1;
        var $tr = $('<tr>').append('<td>' + i + '</td>' + $('#ITEMtemplate').html());
        FEDiv.append($tr);
        initiateSelect2()

    })
    $(document).on('click', '.remITEM', function () {
        var i = $('#p_Item tr').length;
        if (i > 1) {
            $(this).closest('tr').remove();
        }
        return false;
    });

    function loadDatatable($id,$type) {
        var xx = $type;

        if ($.fn.DataTable.isDataTable('#tbl')) {
            $('#tbl').DataTable().destroy();
        }

        var table = $("#tbl").DataTable({
            "processing": true,
            "serverSide": true,
            "searching": true,
            "fixedHeader": true,
            "ajax": {
                "url": "@Url.Action("getDataDetails")?id="+ $id,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [

                //{ "data": "createdDate", "name": "CreatedDate", "autoWidth": true },
                {
                    data: "createdDate",
                    name: "CreatedDate",
                    render: function (data, type, row) {

                        return moment(data).format("YYYY-MM-DD HH:mm:ss");
                    }
                },
                { "data": "equipmentName", "name": "EquipmentName", "autoWidth": true },
                { "data": "locationName", "name": "LocationName", "autoWidth": true },
                { "data": "smr", "name": "SMR", "autoWidth": true },
                { "data": "signStatus", "name": "SignStatus", "autoWidth": true },
                {
                    render: function (data, type, row) {
                        $no = (row.no == "") ? null : row.no;
                        $name = (row.name == "") ? null : row.name;
                        

                        @*if ('@ViewBag.Status' != 'Posted' && '@ViewBag.Status' != "Transferred") {
                            $actions = $actions + '| <a class="anchorAction" title="Delete" onclick="deleteItem(\'' + row.id + '\',\'' + row.equipmentName + '\')">Delete</a>'
                        }*@
                  
                        //if (xx == "Edit") {
                        //    console.log("E");
                            $actions =
                                "<a title="+xx+" data-time=" + row.createdDate + " data-id=" + row.id + " data-equipment='" + row.equipmentId + "' data-equipmentname='" + row.equipmentName +
                                "' data-location='" + row.locationId + "' data-locationname='" + row.locationName + "' data-smr='" + row.smr +
                                "' onclick='createNew(this);' >"+xx+"</a>  "; 
                        if (xx == "Edit") {
                            return $actions + '| <a class="anchorAction" title="Delete" onclick="deleteItem(\'' + row.id + '\',\'' + row.equipmentName + '\')">Delete</a>'

                        } else {
                            return $actions;

                        }
                                           //} else {
                        //    console.log("V");
                        //    $actions =
                        //        "<a title='View' data-time=" + row.createdDate + " data-id=" + row.id + " data-equipment='" + row.equipmentId + "' data-equipmentname='" + row.equipmentName +
                        //        "' data-location='" + row.locationId + "' data-locationname='" + row.locationName + "' data-smr='" + row.smr +
                        //        "' onclick='createNew(this);' >Edit</a>  ";  
                        //    return $actions;

                        //}

                        
                    }
                }


            ]
            ,
            "columnDefs": [{ "orderable": false, "targets": [4] }]


        });





        $('#tbl input').on('keyup change', function (e) {

            var keyCode = e.keyCode
            if (keyCode >= 9 && keyCode <= 27) {

            } else {
                searchFunction(this);
            }
        });
        function searchFunction(e) {

            delay(function () {
                console.log(e);
                table.column($(e).parent().index() + ':visible')
                    .search(e.value)
                    .draw();
            }, 1000);
        }
        $("#tbl_filter").hide();

       
    }

     function deleteItem(id, desc) {

        if (confirm('This will delete item ' + desc + '. Continue?')) {
            $.ajax({
            url: "@Url.Action("DeleteEquipment")"
            , method: "POST"
            , data: { id: id }
            , dataType: 'json'
            , success: function (responsedata) {
               if (responsedata.status == "success") {
                   toastr["success"]("Item Deleted","<b>Success</b> ")
                   loadDatatable('@ViewBag.Id',"Edit");


                } else {

                    toastr["error"](responsedata.message)
                    toastr.options = {
                        "closeButton": true,
                        "showDuration": "3000",
                    }
                }
            }
        })

        }
    }
    function signItem() {
        //if ($("#DetailId").val() == 0) {
        //    toastr["error"]("Please create signature ")
        //    toastr.options = {
        //        "closeButton": true,
        //        "showDuration": "3000",
        //    }
        //}
         $id = $("#DetailId").val();
         $.ajax({
            url: '@Url.Action("signUrl")'
            , dataType: "json"
            , type: "POST"
             , data: { id: $id }
            , success: function (responsedata) {


                $('#savetarget').attr('src', responsedata.imagedata);

            }
        })
        $("#imageReferenceId").val($id);
        $(".signValue").hide();
        $("#savetarget").show();

        $("#modalEquipment").modal("hide");

        $("#modalSignature").modal("show");
       
    }

    function loadDetails(id) {


        $.ajax({
            url: "@Url.Action("getDataSubDetails", "FuelOil")"
            , method: "POST"
            , dataType: 'json'
            , data: { id: id }
            , async: false
            , success: function (responsedata) {

                var $trr = '';
                $('#p_Item > tr').remove();
                if (responsedata.data.length > 0) {


                    for (var i = 0; i < responsedata.data.length; i++) {
                    $trr =
                        '<td><select class="form-control input-sm cmbNo" id=cmbNo' + i +' name="no[]"><option>Select Item</option></select></td>'+
                        '<td><select class="form-control input-sm cmbComponent" id=cmbComponent' + i + ' name="component[]"><option>Select Item</option></select></td>' +
                        '<td><input class=" form-control" type="text" placeholder="Volume / Qty" name="volume[]" required value="' + responsedata.data[i].volumeQty + '"/></td>'

                    $tdCtr = i == 0 ? '<td><button class="addFE btn btn-default" type = "button"><i class="fa fa-plus"></i></button>&nbsp; <button class="remITEM btn btn-danger" type="button"><i class="glyphicon glyphicon-remove"></i></button></td>':
                                      '<td><button class="remITEM btn btn-danger" type="button"><i class="glyphicon glyphicon-remove"></i></button></td>'

                    $trr = $trr + $tdCtr;
                    var $tr = $('<tr>').append('<td>' + (i+1) + '</td>' + $trr);
                    FEDiv.append($tr);

                   //Item
                    $('#cmbNo'+ i).append(new Option("", ""));
                    $('#cmbNo' + i).append(new Option(responsedata.data[i].itemName, responsedata.data[i].itemId));
                    $('#cmbNo' + i).select2({
                        dropdownParent: $('#modalEquipment .modal-content'),
                        width: '100%',
                        theme: 'bootstrap',
                        placeholder: "Select Item",
                        allowClear: true,
                        ajax: {
                            url: "@Url.Action("SearchItem")",
                            dataType: 'json',
                            delay: 2000,
                            data: function (params) {
                                return {
                                    q: params.term, // search term
                                    page: params.page
                                };
                            },
                            processResults: function (data, page) {
                                return {
                                    results: data.items,

                                };
                            },

                            cache: false
                        },

                        minimumInputLength: 2,

                    }).val(responsedata.data[i].itemId).trigger('change');


                     //Component

                    $('#cmbComponent' + i).append(new Option(responsedata.data[i].componentName, responsedata.data[i].componentId));
                    $('#cmbComponent' + i).select2({
                        dropdownParent: $('#modalEquipment .modal-content'),
                        width: '100%',
                        theme: 'bootstrap',
                        placeholder: "Select Component",
                        allowClear: true,
                        ajax: {
                            url: "@Url.Action("SearchComponent")",
                            dataType: 'json',
                            delay: 2000,
                            data: function (params) {
                                return {
                                    q: params.term, // search term
                                    page: params.page
                                };
                            },
                            processResults: function (data, page) {
                                return {
                                    results: data.items,

                                };
                            },

                            cache: false
                        },



                    }).val(responsedata.data[i].componentId).trigger('change');



                        if ('@ViewBag.Status' == "Posted" || '@ViewBag.Status' == "Transferred") {
                        disableForm();
                    }

                    }

                } else {

                    var i = $('#p_Item tr').length + 1;

                    var x =
                        '<td>' +
                        '<select class="form-control input-sm cmbNo" name="no[]"><option>Select Item</option></select>' +
                        '</td>' +
                        '<td>' +
                        '<select class="form-control input-sm cmbComponent" name="component[]"><option>Select Component</option></select>' +
                        '</td>' +
                        '<td><input class=" form-control" type="text" placeholder="Volume / Qty" name="volume[]" required /></td>' +
                        '<td>' +
                        '<button class="addFE btn btn-default" type="button"><i class="fa fa-plus"></i> </button>' +
                        '</td>';
                    var $tr = $('<tr>').append('<td>' + i + '</td>' + x);
                    FEDiv.append($tr);
                    //initiateSelect2()

                }


                initiateSelect2();





            }
        })

        //initiateSelect2();



    }
    function saveForm() {
       
       
      
       


        var cnt = 0;
        var data = $("#frm").serializeArray();

        $.ajax({
            url: "@Url.Action("SaveForm")"
            , method: "POST"
            , data: data
            , dataType: 'json'
             , success: function (responsedata) {
                if (responsedata.status == "success") {
                    toastr["success"]("Form saved!", "<b>Success</b> ")
                    $("#ReferenceNo").val(responsedata.message);
                    $("#CreatedDateMain").val(moment(new Date()).format("YYYY-MM-DD HH:mm:ss"));
                    $("#FuelOilId").val(responsedata.refid);



                } else {
                    toastr["error"](responsedata.message)
                    toastr.options = {
                        "closeButton": true
                    }
                }
            }
        })


    }
    function saveItem() {
        var cnt = 0;
        var data = $("#frmItem").serializeArray();
        
        $.ajax({
            url: "@Url.Action("SaveFormSubDetail")"
            , method: "POST"
            , data: data
            , dataType: 'json'
             , success: function (responsedata) {
                if (responsedata.status == "success") {
                    toastr["success"]("Equipment information saved!", "<b>Success</b> ")
                } else {
                    toastr["error"](responsedata.message + "</br></br>" + "Please fill out all item information.")
                    toastr.options = {
                        "closeButton": true
                    }
                }
            }
        })


    }
    function postForm() {
        var cnt = 0;
        if ($('#ReferenceNo').val() == '') {
            toastr["error"]("Save Form First", "Error")
            toastr.options = {
                "closeButton": true

            }
            return false;
        }
        if ($('#tbl tr').length == 0) {
            toastr["error"]("No details encoded", "Error")
            toastr.options = {
                "closeButton": true

            }
            return false;
        }
         $('#frm').find('input').each(function () {
            if ($(this).prop('required')) {
                if (!$(this).val()) {
                    cnt = 1;
                    $(this).addClass("error-input");
                } else {
                    $(this).removeClass("error-input");
                }
            }
        });

        if (cnt > 0) {
            toastr["error"]("Fill all required fields", "Error")
            toastr.options = {
                "closeButton": true,
                "showDuration": "3000",
            }
            return false;
        }

        if (confirm('Are you sure you want to post this form? Posting form will disable you from editing input values.')) {
            
        } else {
            return false;
        }

        var data = $('#ReferenceNo').val();

        $.ajax({
            url: "@Url.Action("PostForm")"
            , method: "POST"
            , data: { referenceNo: data}
            , dataType: 'json'
             , success: function (responsedata) {
                if (responsedata.status == "success") {
                    toastr["success"]("Form posted!", "<b>Success</b> ")
                    disableForm();
                    loadDatatable('@ViewBag.Id',"View");
                } else {
                    toastr["error"](responsedata.message)
                    toastr.options = {
                        "closeButton": true
                    }
                }
            }
        })

       
    }
    function disableForm() {
        $('#frm').find('input, select, button').each(function () {
            console.log(this);
            $(this).prop("disabled", "disabled");
        });

        $(".remITEM").prop("disabled", "disabled");
        $(".anchorAction").attr("style", "pointer-events: none");
        $("#aPrint").attr("style", "pointer-events: true");
        $(".hidePost").hide();

        @*console.log('@ViewBag.Status');
        $("#frm select").each(
            function (index) {
                var sel = $(this);
                sel.prop('disabled','disabled')
            }
        );
        $("#frm a").each(
            function (index) {
                var a = $(this);
                a.addClass("disable-click");
                $("#aPrint").removeClass("disable-click");
            }
        );*@
    }
    $("#Shift").select2({
        width: '100%',
        theme: 'bootstrap'
    });
    $("#DispenserId").select2({
        width: '100%',
        theme: 'bootstrap',
        placeholder: "Select a Location",
        allowClear: true
    });

    $("#LubeTruckId").select2({
        width: '100%',
        theme: 'bootstrap',
        placeholder: "SELECT LUBE TRUCK",
        allowClear: true
    });

    $("#LocationId").select2({
        dropdownParent: $('#modalEquipment .modal-content'),
        width: '100%',
        theme: 'bootstrap'
    });



    @*$("#LubeTruckId").select2({
            width: '100%',
            theme: 'bootstrap',
                ajax: {
                    url: "@Url.Action("SearchLubeTruck", "LubeTrucks")",
                    dataType: 'json',
                    delay: 2000,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return {
                            results: data.items,

                        };
                    },

                    cache: false
            },
            minimumInputLength: 2,
    });*@



    @*$("#DispenserId").select2({
            width: '100%',
            theme: 'bootstrap',
                ajax: {
                    url: "@Url.Action("SearchDispenser", "Dispensers")",
                    dataType: 'json',
                    delay: 2000,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return {
                            results: data.items,

                        };
                    },

                    cache: false
            },
            minimumInputLength: 2,
        });*@
    function initiateSelect2() {

        $(".cmbNo").select2({
            dropdownParent: $('#modalEquipment .modal-content'),
            placeholder: "Select Item",
            allowClear: true,
        width: '100%',
        theme: 'bootstrap',
            ajax: {
                url: "@Url.Action("SearchItem")",
                dataType: 'json',
                delay: 2000,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return {
                        results: data.items,

                    };
                },

                cache: false
        },
        minimumInputLength: 2,
        });

        $(".cmbComponent").select2({
            dropdownParent: $('#modalEquipment .modal-content'),

            width: '100%',
            
            placeholder: "Select Component",
            allowClear: true,
            theme: 'bootstrap',
                ajax: {
                    url: "@Url.Action("SearchComponent")",
                    dataType: 'json',
                    delay: 2000,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return {
                            results: data.items,

                        };
                    },

                    cache: false
            },
            //minimumInputLength: 4,
        });
    }





</script>